@import url('https://fonts.googleapis.com/css?family=Aldrich'); 

#topHd {
    width: 1000px;
}

#navi ul {
    font-family: 'Aldrich', sans-serif;
    list-style-type: none;
    margin: 0 auto;
    width: 600px;
    padding: 0;
    color: #58595B;
    text-decoration: none
}

#navi ul li {
    list-style: none;
    width: 70px;
    height: 30px;
    float: left;6
    background: white;
    margin-left: 10px;
    line-height: 30px;
    text-align: center;   
}

#navi ul li a:hover{
    border-top: 4px solid #D1D3D4;
    border-bottom: 4px solid #D1D3D4;
    padding: 6px 0;
    color: black
}

#navi ul li a:visited{
    color: #58595B
}

#navii ul {
    margin-top: 20vh      
}

#navii ul {
    margin-left: 15vh
}

#navii ul: hover-overlay{
    width: 100%;
    display: block;
    position: relative;
    text-align: center!important;
}

#navii ul: hover.overlay {
    display: block;
}

#navii ul: hover {
    opacity: 0.7;
}

.menu {
    padding-top: 5px;
    padding-left: 140vh
}

.name {
    font-family: 'Aldrich', sans-serif;
    padding-left: 25vh;
    padding-top: 5vh;
}

.d2 { 
   float:left; width:400px; height:300px; background:black; 
   margin:15px 0 0 15px; 
} 

.project {
    width: 400px;
    height: 300px;
    background-color: black;
    margin: 15px 0 0 15px;

    